# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# Prevent breaking method chains
ij_java_method_call_chain_wrap = off
ij_java_keep_line_breaks = true
ij_java_align_multiline_chained_methods = true
ij_java_keep_multiple_expressions_in_one_line = true 